input_channel: 3

depth_multiple: 1.0
width_multiple: 1.0

backbone:
    # [repeat, module, args]
    [
      # num_classes(output_dim), embed_dim, depths, num_heads, window_size, drop, drop_path_rate ,pretrained
        [1, MBv3Small, [1000]],
        [1, Linear, [6]],
    ]

    